{% extends 'base.html' %}
{% block title%} Blog Home {% endblock title %}
{% block blogactive %} active  {% endblock blogactive %}
{% block body%}
 <div class="container my-3">
    <h3>All Blog Posts:</h3>
    {% for post in allpost %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.sno}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe | truncatechars:500}}</div></p>
          <a href="/blog/{{post.sno}}" class="stretched-link">Continue reading</a>
        </div>  
    </div>
    {% endfor %}
 </div>
{% endblock body%}
{% block js%} 
<script>
  let previews= document.getElementbyClassName('preview');
  Array.from(previews).forEach((element)=>{
    element.innerHTML= element.innerText 
  })
</script>
{% endblock js%}